Subject: 【SKMS:諸経費】諸経費支払取り消しのお知らせ

${data.toName}さん
━━━━━━━━━……‥・

${data.approvalName}さんが諸経費の支払を取り消しました。
諸経費は支払前の状態に戻りました。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━……‥・・
◆申請ID　　　　　　 ： ${data.overheadId}
◆申請者　　　　　　 ： ${data.applicantName}
◆プロジェクトコード ： ${data.projectCode}
◆プロジェクト名　　 ： ${data.projectName}
◆金額　　　　　　　 ： ${data.expense}
◆取り消し理由　　　 ： ${data.reason}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━……‥・・

□詳細はグループウェアで確認してください。
  https://www.sfk-carp.jp/wiz/

※このメールに対する返信は不要です。
