Subject: 【SKMS:通勤費】通勤費申請のお知らせ

${data.toName}さん
━━━━━━━━━……‥・

${data.applicantName}さんが通勤費を申請しました。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━……‥・・
◆通勤月　　　　　　 ： ${data.commutationYear}年${data.commutationMonth}月
◆申請者　　　　　　 ： ${data.applicantName}
◆金額　　　　　　　 ： ${data.payment}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━……‥・・

□詳細はグループウェアで確認してください。
  https://www.sfk-carp.jp/wiz/

※このメールに対する返信は不要です。