Subject: 【SKMS:諸経費】諸経費${data.approvalType}承認のお知らせ

${data.toName}さん
━━━━━━━━━……‥・

${data.approvalName}さんが諸経費を承認しました。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━……‥・・
◆申請ID　　　　　　 ： ${data.overheadId}
◆申請者　　　　　　 ： ${data.applicantName}
◆プロジェクトコード ： ${data.projectCode}
◆プロジェクト名　　 ： ${data.projectName}
◆金額　　　　　　　 ： ${data.expense}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━……‥・・

□詳細はグループウェアで確認してください。
  https://www.sfk-carp.jp/wiz/

※このメールに対する返信は不要です。
